.Hero {
background-image: url('../../../public/digi22-nynm-movieguide-landscape-772x570.jpg');
background-position: -29% 43%;
min-height: 460px;
color: rgb(255, 255, 255);

}
.Container {
    position: relative;
    align-items: center;
    display: block;
    padding: 12% 0 5% 5%;
}

.Hero__Title {
    margin-bottom: 28px;
    text-align: left;
}
.Hero__Description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 25%;
}
.Hero__btn {
    background-color: rgb(28, 92, 231);
    color: #fff;
    font-size: 14px;
    padding: 7px 23px;
    text-decoration: none;
    cursor:pointer;
    border-radius: 5px;
}